.logo{
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    padding-left:12%;
}
.navbar{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
   padding-top:10px;
    display: flex; 
    padding-left:10%;
    gap: 40px;
}
.button{
    padding-left: 10%;
    padding-top:20px;
}